@font-face {
    font-family: "ubuntu";
    src: url(/front-end/Fonts/Ubuntu-Medium.ttf),
        url(/front-end/Fonts/Ubuntu-MediumItalic.ttf),
        url(/front-end/Fonts/Ubuntu-Bold.ttf),
        url(/front-end/Fonts/Ubuntu-BoldItalic.ttf),
        url(/front-end/Fonts/Ubuntu-Light.ttf),
        url(/front-end/Fonts/Ubuntu-LightItalic.ttf),
        url(/front-end/Fonts/Ubuntu-Regular.ttf),
        url(/front-end/Fonts/Ubuntu-Italic.ttf);
}
@font-face {
    font-family: "Signika";
    src: url(/front-end/Fonts/Signika-Bold.ttf),
        url(/front-end/Fonts/Signika-Light.ttf),
        url(/front-end/Fonts/Signika-Medium.ttf),
        url(/front-end/Fonts/Signika-Regular.ttf),
        url(/front-end/Fonts/Signika-SemiBold.ttf);
}
@font-face {
  font-family: "Peyda";
  src: url(/front-end/Fonts/Peyda-Black[@mimvid].ttf),
        url(/front-end/Fonts/Peyda-Bold[@mimvid].ttf),
        url(/front-end/Fonts/Peyda-ExtraBold[@mimvid].ttf),
        url(/front-end/Fonts/Peyda-ExtraLight[@mimvid].ttf),
        url(/front-end/Fonts/Peyda-Light[@mimvid].ttf),
        url(/front-end/Fonts/Peyda-Medium[@mimvid].ttf),
        url(/front-end/Fonts/Peyda-Regular[@mimvid].ttf),
        url(/front-end/Fonts/Peyda-SemiBold[@mimvid].ttf),
        url(/front-end/Fonts/Peyda-Thin[@mimvid].ttf);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}
:root {
  --primary: #010c8e;
  --bg-color: #eff3ff;
}


.white-color {
  color: var(--bg-color) !important;
}
.primary-color {
  color: var(--primary) !important;
}
.bg-color-primary {
  background-color: var(--primary) !important;
}
.bg-color-bg {
  background-color: var(--bg-color) !important;
}


body {
  font-family: "ubuntu";
  background-color: var(--bg-color);
  color: var(--primary);
}




nav {
  color: var(--primary);
}
nav .navbar-brand,
nav .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: inherit;
  }
nav .dropdown-toggle::after {
    display: none !important; 
  }
  .navbar-brand{
    margin: 0;
  }
  .brand {
    gap: 10px;
  }
  .navbar-nav.mb-2.mb-lg-0.justify-content-between.align-items-center li a {
    text-decoration: none;
} 
#searchDropdown,#searchDropdown:active,#searchDropdown:focus,
#UserDropdown,#UserDropdown:active,#UserDropdown:focus{
  border: none !important;
  outline: none !important ;
}
  .navbar {
    transition: all 1s;
    background-color: #FFFFFF73;
}
.navbar-scrolled {
    background-color: var(--primary) !important;
    box-shadow: 0 3px 10px rgba(13, 71, 161, 0.15) !important;
    /* color: var(--bg-color) !important; */
}
.navbar-nav .nav-item .nav-link {
  position: relative;
  transition: color 0.3s ease;
}
.navbar-nav .nav-item .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--bg-color);
  transition: all 0.3s ease;
}
.navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
  left: 0;
}
.navbar-scrolled .navbar-nav .nav-item .nav-link::after {
  background-color: var(--bg-color);
}



.search-style {
  border: none !important;
  border-top: none !important;
  margin-top: 0.65rem !important;
  border-radius: 0 0 10px 10px !important;
}


    
.first-view {
  margin-top: 10rem;
  height: 90vh;
}
.first-view .container .row  .col-md-8 .carousel .carousel-inner a img{
  height: 500px;
}
.chum {
  width: 100%;
  height: 50%;
}


.recent-blogs{
 margin-bottom: 10rem;
}
.card-custom {
  transition: transform 0.2s; /* انیمیشن برای بزرگ شدن کارت */
}

.card-custom:hover {
  transform: scale(1.05); /* بزرگ شدن کارت هنگام هاور */
}



.footer {
  background: url('../img/footer-bg.png') no-repeat;
  background-size: cover;
  background-position: fixed;
  padding-top: 2rem;
  align-items: center;
  width: 100%;
  color: #fff;
}
.footer .footer-title {
  font-family: 'Cursive', sans-serif;
  font-size: 24px;
}
.footer .footer-column {
  margin-bottom: 20px;
}
.footer .footer-links a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
}
.footer .footer-links a:hover {
  text-decoration: underline;
}
.footer .footer-bottom {
  border-top: 1px solid #fff;
  padding-top: 10px;
  text-align: center;
}
.footer .footer-bottom a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}
.footer .footer-bottom a:hover {
  text-decoration: underline;
}
.subscribe-input {
  /* border-radius: 20px 0 0 20px; */
  border: none;
  padding: 10px;
  /* background-color: #EEEEEE; */
}
.subscribe-btn {
  /* border-radius: 0 20px 20px 0; */
  border: none;
  padding: 10px 20px;

}
.subscribe-btn:hover {
  /* background-color: #00897B; */
}
