@font-face {
    font-family: "ubuntu";
    src: url(/front-end/Fonts/Ubuntu-Medium.ttf),
        url(/front-end/Fonts/Ubuntu-MediumItalic.ttf),
        url(/front-end/Fonts/Ubuntu-Bold.ttf),
        url(/front-end/Fonts/Ubuntu-BoldItalic.ttf),
        url(/front-end/Fonts/Ubuntu-Light.ttf),
        url(/front-end/Fonts/Ubuntu-LightItalic.ttf),
        url(/front-end/Fonts/Ubuntu-Regular.ttf),
        url(/front-end/Fonts/Ubuntu-Italic.ttf);
}
@font-face {
    font-family: "Signika";
    src: url(/front-end/Fonts/Signika-Bold.ttf),
        url(/front-end/Fonts/Signika-Light.ttf),
        url(/front-end/Fonts/Signika-Medium.ttf),
        url(/front-end/Fonts/Signika-Regular.ttf),
        url(/front-end/Fonts/Signika-SemiBold.ttf);
}
@font-face {
  font-family: "Peyda";
  src: url(/front-end/Fonts/Peyda-Black[@mimvid].ttf),
        url(/front-end/Fonts/Peyda-Bold[@mimvid].ttf),
        url(/front-end/Fonts/Peyda-ExtraBold[@mimvid].ttf),
        url(/front-end/Fonts/Peyda-ExtraLight[@mimvid].ttf),
        url(/front-end/Fonts/Peyda-Light[@mimvid].ttf),
        url(/front-end/Fonts/Peyda-Medium[@mimvid].ttf),
        url(/front-end/Fonts/Peyda-Regular[@mimvid].ttf),
        url(/front-end/Fonts/Peyda-SemiBold[@mimvid].ttf),
        url(/front-end/Fonts/Peyda-Thin[@mimvid].ttf);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}
:root {
  --primary: #010c8e;
  --bg-color: #eff3ff
}


body {
  font-family: "ubuntu";
  background-color: var(--bg-color);
  color: var(--primary);
  height: 1000px;
}




.white-color {
  color: var(--bg-color) !important;
}
.primary-color {
  color: var(--primary) !important;
}
.border-primary-color {
  border-color: var(--primary) !important;
}
.bg-color-primary {
  background-color: var(--primary) !important;
}
.bg-color-bg {
  background-color: var(--bg-color) !important;
}




nav {
  color: var(--primary);
}
nav .navbar-brand,
nav .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: inherit;
  }
nav .dropdown-toggle::after {
    display: none !important; 
  }
  .navbar-brand{
    margin: 0;
  }
  .brand {
    gap: 10px;
  }
  .navbar-nav.mb-2.mb-lg-0.justify-content-between.align-items-center li a {
    text-decoration: none;
}
  .navbar {
    transition: all 1s;
    background-color: #FFFFFF73;
}
.navbar-scrolled {
    background-color: var(--primary) !important;
    box-shadow: 0 3px 10px rgba(13, 71, 161, 0.15) !important;
}
.navbar-nav .nav-item .nav-link {
  position: relative;
  transition: color 0.3s ease;
}
.navbar-nav .nav-item .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--primary);
  transition: all 0.3s ease;
}
.navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
  left: 0;
}
.navbar-scrolled .navbar-nav .nav-item .nav-link::after {
  background-color: white;
}




    
.top {
  margin-top: 12rem;
}