*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: "ubuntu";
}

nav {
    color: #010c8e;
}

nav .navbar-brand,
nav .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: inherit;
}

.brand {
    gap: 10px;
}

.navbar {
    transition: all 1s;
    background-color: #ffffff73;
}

.navbar-scrolled {
    background-color: #0d47a1 !important;
    box-shadow: 0 3px 10px rgba(13, 71, 161, 0.15) !important;
}

.white-color {
    color: white !important;
}

.navbar-nav .nav-item .nav-link {
    position: relative;
    transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #010c8e;
    transition: all 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
    left: 0;
}

.navbar-scrolled .navbar-nav .nav-item .nav-link::after {
    background-color: white;
}

.starting-banner {
    min-height: 100vh;
    background: url("../img/vector1.png") no-repeat;
    background-position: center;
    background-origin: border-box;
    background-size: 100%;
    width: auto;
    color: #fff;
}

.search_box {
    max-width: 500px;
    width: 100%;
}

.search_box_content {
    background-color: #fff;
    height: 50px;
    max-width: 50px;
    margin: 0 auto;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.search_box_content input {
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 14px;
    font-size: 18px;
    outline: none;
    border-radius: 25px;
}

.search_box_content label {
    position: absolute;
    z-index: 1;
    top: 0;
    right: -2px;
    background-color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #010c8e;
    border-radius: 25px;
}

#check:checked ~ .search_box_content {
    max-width: 350px;
}

#check:checked ~ .search_box_content label {
    border-radius: 0 25px 25px 0;
    max-width: 60px;
    background-color: #010c8e;
    color: #fff;
}

.under-banner {
    background-color: #b0bec596;
}

.--bg {
    background: url("../img/wave.png") no-repeat;
    background-size: 100%;
    margin-top: -8.55rem;
}

/* font */
@font-face {
    font-family: "ubuntu";
    src: url(../../font/Ubuntu-Medium.ttf), url(../../font/Ubuntu-MediumItalic.ttf),
        url(../../font/Ubuntu-Bold.ttf), url(../../font/Ubuntu-BoldItalic.ttf),
        url(../../font/Ubuntu-Light.ttf), url(../../font/Ubuntu-LightItalic.ttf),
        url(../../font/Ubuntu-Regular.ttf), url(../../font/Ubuntu-Italic.ttf);
}

@font-face {
    font-family: "Signika";
    src: url(../../font/Signika-Bold.ttf), url(../../font/Signika-Light.ttf),
        url(../../font/Signika-Medium.ttf), url(../../font/Signika-Regular.ttf),
        url(../../font/Signika-SemiBold.ttf);
}